@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: 'Inter', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.right {
    display: flex;
   
}

.logo{
    margin-top: 10px;
    margin-left: 30px;
}

.signup {
    margin: 10px;
}

.container {
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header{
    font-size: 30px;
}

input {
    padding: 10px 10px;
    border: none;
    margin: 10px;
    background-color: transparent;
    border-bottom: 1px solid white;
    color: white;
}

input::placeholder {
    color: white;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
    background-color: white;
    padding: 10px 80px;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
}

.profileContainer{
    color: white;
    margin-top: 80px ;
    margin-left: 30px;
}


.info {
    margin-bottom: 30px;
}

.headerprofile{
    font-size: 30px;
    margin-bottom: 10px;
}

.green {
color: green;
}

.red {
    color: red;
}

.active {
    display: block;
}

.hide {
    display: none;
}

#res {
    margin: 10px;
}